body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: lemonchiffon;
    
}
h1{
    font-size: 50px;
    font-weight: 50px;
    
    
}
h2{
    font-size: 20px;
}
.blue-color{
    color: blue;
    font-style: italic;

    
    
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
    
}
.flexible-container img{
    width: 40%;
}
.half-width{
    width: 40%;
    padding-left: 5%;
    
}
.half-width img{
    width: 80%;

    
}
.link-button{
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(46, 46, 148),rgb(136, 184, 196));
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.style-color{
    text-align: justify;
    padding-left: 400px;
}
.mission{
    padding-left: 35%;
}
.experience-item{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
  
}
#web-dev-ex1{
    background-color: lightgrey;
    
}
#web-dev-ex2{
    background-color: rgb(71, 32, 178);
}
#web-dev-ex2{
    background-color: lightgoldenrodyellow;
}
.text{
    text-align: center;
}
.web-application{
    
    font-size: 50px;
    font-weight: 50px;
    padding-left: 35px;
    margin-right: 150px;
}
.dream-big img{
    padding-left: 10px 10px;
    image-resolution: center;
    
}
.stay-focused{
    padding-left: 35%;
}
#web-dream{
    background-image: url(images/shapes/shape-3.png);
    width: 50%;
    background-repeat: no-repeat;
    background-position-y: left 20px;
    background-position-y: top 100px;
   padding-right: 10px 20px;
    padding-top: 25px 10px;
    
    
}
#web-dream img{
    width: 80%;
    border-radius: 25px;
    padding-left: 10px;
    margin: 0px;
    
}
#dev-dream {
    background-image: url(images/shapes/dream-bg.png);
    width: 40%;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position:left;
    background-size: 70px;

    
       
}
#dev-dream img{
    width: 70%;
    

}
footer p{
    text-align: center;
    
}
footer h2{
    text-align: center;
    color: blue;
    font-style: italic;
    font-weight: 150;
    font-family: serif;
    font-size: 30px;
    
}
#global-com{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: right 250px;
    margin-right: 6%;
    
}
#global-com img{
    width: 70%;
    background-position: 50px;
}
    
.footer-c{
    background-color: rgb(147, 187, 243);
}

