body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}
h1{
    font-size: 50px;
    font-weight: 50px;
}
h2{
    font-size: 20px;
}
.blue-color{
    color: blue;
    font-style: italic;
    
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.flexible-container img{
    width: 40%;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 90%;
}
.link-button{
    padding: 10px 40px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(46, 46, 148),rgb(136, 184, 196));
    text-decoration: none;
    color: white;
    font-weight: 700;
}
.style-color{
    text-align: justify;
    padding-left: 400px;
}
.mission{
    padding-left: 35%;
}
.experience-item{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
  
}
#web-dev-ex1{
    background-color: lightgrey;
    
}
#web-dev-ex2{
    background-color: lightcyan;
}
#web-dev-ex2{
    background-color: lightgoldenrodyellow;
}